<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace: 命名空间,此属性通常用来映射Dao（Mapper）层接口. -->
<mapper namespace="com.mapper.NewsMapper">
    <!-- id: 对应Dao（Mapper）层接口方法名 parameterType：指定输入参数类型 -->
    <!-- useGeneratedKeys="true"把新增加的主键赋值到自己定义的keyProperty（id）中 -->


    <delete id="deleteByIds">
        delete from news where news_id in
        <foreach collection="ids" item="news_id" separator="," open="(" close=")">
            #{news_id}
        </foreach>
    </delete>


    <select id="selectByPageAndCondition" resultType="com.entity.News">
        select * from news
        <where>
            <if test="news.news_content != null and news.news_content != ''">
                and news_content like #{news.news_content}
            </if>
        </where>
        limit #{begin},#{size}
    </select>


    <select id="selectTotalCountByCondition" resultType="java.lang.Integer">
        select count(*) from news
        <where>
            <if test="news_content != null and news_content != ''">
                and news_content like #{news_content}
            </if>
        </where>
    </select>
</mapper>
